name: CDP4J Tests

# Trigger workflow on manual execution (adhoc explicit executions)
on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up JDK 8
      uses: actions/setup-java@v4
      with:
        java-version: '8'
        distribution: 'temurin'

    - name: Setup Chrome browser
      uses: browser-actions/setup-chrome@c785b87e244131f27c9f19c1a33e2ead956ab7ce

    - name: Run tests
      run: mvn test
